* {
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

body {
	background-color: #777;
	width: 960px;
}

header {
	background-color: #ebebeb;
	padding: 20px;
	margin: 10px 50px 10px 50px;
}

nav {
	background-color: #ebebeb;
	padding: 20px;
	margin: 10px 50px 30px 50px;
}

section {
	width: 495px;
	float: left;
	margin-top: 0px 15px 0px 50px;
}

article {
	background-color: #777;
	float: left;
}

aside {
	float: left;
	margin-top: 0px 50px 0px 15px;
}

p {
	background-color: #ebebeb;
	padding: 20px;
}

footer {
	background-color: #ebebeb;
}