* {
	vertical-align: middle;
    text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
    margin: auto;

}

body {
	background-color: #777;
}

header {
	background-color: #ebebeb;
	padding: 20px;
}

nav {
	background-color: #ebebeb;
	padding: 20px;
}

section {
	display: block;
	float: left;
	width: 495px;
}

article {
	background-color: #777;
	display: block;

}

aside {
	display: table-cell;
	width: 100%;
	height: 100%;
}

p {
	background-color: #ebebeb;
	padding: 20px;
	display: block;
}

footer {
	background-color: #ebebeb;
	clear: both;
}

.container {
	overflow: hidden;
	display: table;
}

.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.top-bottom-margins {
	margin-top: 10px;
	margin-bottom: 10px;
}