* {
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;

}

body {
	background-color: #777;
	width: 960px;
}

header {
	background-color: #ebebeb;
	padding: 20px;
	margin: 10px 82px 10px 82px;
}

nav {
	background-color: #ebebeb;
	padding: 20px;
	margin: 10px 82px 30px 82px;
}

section {
	display: block;
	float: left;
	width: 495px;
	margin: 0px 15px 0px 82px;
}

article {
	background-color: #777;
	display: block;
	
}

aside {
	margin: 0px 50px 0px 15px;
}

p {
	background-color: #ebebeb;
	padding: 20px;
	display: block;
}

footer {
	background-color: #ebebeb;
}